<title>اقامات</title>
{% extends "base.html" %} {% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='subpage.css') }}"> {% endblock %} {% block content %}
<section id="subpage">
    <div class="subpage container">
        <div class="page-top">
            <h1 class="section-title"><span>محتوى </span>الاقامات</h1>
        </div>
        <div class="page-bottom">
            <div class="page-item">
                <div class="page-item-info">
                    <a href="/eqamat/content">
                        <h2>محتوى 1</h2>
                        <p>في هذه المقال سنتعلم الاجراءات والمتطلبات والخ الخ الخ الخ الخ الخ الخ الخ الخ
                        </p>
                    </a>
                </div>
                <div class="page-item-image">
                    <img src="{{ url_for('static', filename='images/back.jpg') }}" alt="a picture">
                </div>
            </div>
            <div class="page-item">
                <div class="page-item-info">
                    <a href="/eqamat/content">
                        <h2>محتوى 1</h2>
                        <p>في هذه المقال سنتعلم الاجراءات والمتطلبات والخ الخ الخ الخ الخ الخ الخ الخ الخ
                        </p>
                    </a>
                </div>
                <div class="page-item-image">
                    <img src="{{ url_for('static', filename='images/back.jpg') }}" alt="a picture">
                </div>
            </div>
            <div class="page-item">
                <div class="page-item-info">
                    <a href="/eqamat/content">
                        <h2>محتوى 1</h2>
                        <p>في هذه المقال سنتعلم الاجراءات والمتطلبات والخ الخ الخ الخ الخ الخ الخ الخ الخ
                        </p>
                    </a>
                </div>
                <div class="page-item-image">
                    <img src="{{ url_for('static', filename='images/back.jpg') }}" alt="a picture">
                </div>
            </div>
            <div class="page-item">
                <div class="page-item-info">
                    <a href="/eqamat/content">
                        <h2>محتوى 1</h2>
                        <p>في هذه المقال سنتعلم الاجراءات والمتطلبات والخ الخ الخ الخ الخ الخ الخ الخ الخ
                        </p>
                    </a>
                </div>
                <div class="page-item-image">
                    <img src="{{ url_for('static', filename='images/back.jpg') }}" alt="a picture">
                </div>
            </div>
            <div class="page-item">
                <div class="page-item-info">
                    <a href="/eqamat/content">
                        <h2>محتوى 1</h2>
                        <p>في هذه المقال سنتعلم الاجراءات والمتطلبات والخ الخ الخ الخ الخ الخ الخ الخ الخ
                        </p>
                    </a>
                </div>
                <div class="page-item-image">
                    <img src="{{ url_for('static', filename='images/back.jpg') }}" alt="a picture">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}